MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=1
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=

LOCALES=en_US.UTF-8 fr_FR.UTF-8

TRAEFIK_ACME_EMAIL=
APP_NAME=wordpress
DOMAIN_NAME=
ANUBIS_DOMAIN_NAME=

SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=tls
SMTP_AUTHTYPE=LOGIN
SMTP_PORT=587

# WordPress config
WORDPRESS_TABLE_PREFIX="wp_"

WORDPRESS_AUTH_KEY=
WORDPRESS_SECURE_AUTH_KEY=
WORDPRESS_LOGGED_IN_KEY=
WORDPRESS_NONCE_KEY=
WORDPRESS_AUTH_SALT=
WORDPRESS_SECURE_AUTH_SALT=
WORDPRESS_LOGGED_IN_SALT=
WORDPRESS_NONCE_SALT=

# Solr
SOLR_HOSTNAME=172.17.0.1
SOLR_PORT=8983
SOLR_PATH=/solr/path
NOTICE_INDEX=notices
AUTOCOMPLETE_INDEX=autocomplete
SUPLOM_INDEX=suplom
SUPLOMFR_URL=https://example.com/
ROWS_PER_PAGE=10

# SSh tunnel
TUNNEL_USER=
REMOTE_USER=
REMOTE_HOST=
DOCKER_BRIDGE_IP=172.17.0.1
SOLR_PORT=8983
