MYSQL_ROOT_PASSWORD=
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=
WORDPRESS_DB_NAME=

LOCALES=en_US.UTF-8 fr_FR.UTF-8

TRAEFIK_ACME_EMAIL=
APP_NAME=wordpress
DOMAIN_NAME=

SOLR_HOSTNAME=172.17.0.1
SOLR_PORT=8983
SOLR_PATH=/solr/path
NOTICE_INDEX=notices
AUTOCOMPLETE_INDEX=autocomplete
SUPLOM_INDEX=suplom
SUPLOMFR_URL=https://example.com/
ROWS_PER_PAGE=10

SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=
SMTP_AUTHTYPE=
SMTP_PORT=
